<% layout("/layouts/boilerplate") %>

   <div id="filters">

  <a href="/listings/category/trending" class="filter">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
  </a>

  <a href="/listings/category/rooms" class="filter">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Rooms</p>
  </a>

  <a href="/listings/category/iconic cities" class="filter">
    <div><i class="fa-solid fa-mountain-city"></i></div>
    <p>I-Cities</p>
  </a>

  <a href="/listings/category/mountains" class="filter">
    <div><i class="fa-solid fa-mountain"></i></div>
    <p>Mountains</p>
  </a>

  <a href="/listings/category/castles" class="filter">
    <div><i class="fa-brands fa-fort-awesome"></i></div>
    <p>Castles</p>
  </a>

  <a href="/listings/category/amazing pools" class="filter">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Pools</p>
  </a>

  <a href="/listings/category/camping" class="filter">
    <div><i class="fa-solid fa-campground"></i></div>
    <p>Camping</p>
  </a>

  <a href="/listings/category/farms" class="filter">
    <div><i class="fa-solid fa-cow"></i></div>
    <p>Farms</p>
  </a>

  <a href="/listings/category/arctic" class="filter">
    <div><i class="fa-solid fa-snowflake"></i></div>
    <p>Arctic</p>
  </a>
  
  <div class="tax-toggle">
    <div class="form-check-reverse form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
    <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
  </div>
</div>
</div>

<% if (activeCategory) { %>
  <div class="active-filter-text">
    Showing results for :
    <span><%= activeCategory.toUpperCase() %></span>
  </div>
<% } %>

      <div class="row row-cols-xl-4 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 mt-3">
       <% for(let listing of allListings) { %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="card col listing-card">
          <div class="image-wrapper">
        <img 
           src="<%= listing.image.url %>" 
           class="card-img-top" 
           alt="listing_image" 
           style="height: 20rem">
           <span class="rating-badge">⭐ 5.0</span>
        <div class="card-img-overlay"></div> 
        </div>
        <div class="card-body">
        
    <p class="card-text">
  <b><h5><%= listing.title %></h5></b>

  <% if (listing.price) { %>
      <span class="price">
        &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
      </span>
      <span class="tax-info"> +18% GST</span>
    <% } %>

</p>
  </div>
</div>
</a>
<% } %>
    </div>
    </div>
    
<script>
  let taxSwitch = document.getElementById("switchCheckDefault");
  taxSwitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("tax-info");
    for (info of taxInfo) {
      if(info.style.display != "inline") {
        info.style.display = "inline";
      } else {
        info.style.display = "none";
      }
    }
  });

</script>





